* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */
body {
    background: #ffffff;
    font-family: "Roboto Mono", monospace;
    line-height: 2.0rem;
    text-align: justify;
}

/* Header */
header {
    margin-top: 0px;
    height: 170px;
    background: rgba(135, 172, 116, 0);
    background: radial-gradient(circle, #cfff5e, #c3b3f1);
    text-align: center;
    padding: 1rem 0;
    color: #000000;
    
}

.ptop {
    margin-top: 3px;
}

h1 {
    margin: 60px;
    font-family: "Gothic A1";
    font-size: 300%;
    text-shadow: 6px 6px 4px #94124400;
}


.subheader {
    height: 35px;
    background: #cfff5e;
    display: flex;
    justify-content: space-between;
    padding: 0rem;
}

.mood {
    padding-left: 5%;
    font-weight: bold;
}

.social a {
    color: #1b198f;
    text-decoration: none;
    padding-right: 0%;
}

.social a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    color: #000000;
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    gap: 40px; /* Aumentando o espaçamento entre a sidebar e os posts */
}

/* Sidebar */
.sidebar {
    margin: 230;
    padding: 44px;
    margin-right: 20px;
}

.sidetext {
    content: center;
    font-family: "Roboto";
    line-height: 1.0rem;
    text-align: justify;
    font-size: medium;
    color: #30332E;
}

.imagemdeperfil {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
    padding-bottom: 20px;
    cursor: pointer;
    filter: grayscale(0%);
    transition: 0.5;
}

.imagemdeperfil:hover {
    width: 150px;
    transform: scale(1.2);
    filter: grayscale(100%);
}

.search {
    margin-top: 11%;
    width: 100%;
    padding: 10px;
    border: 3px solid #1b198f;
    border-radius: 8px; /* Arredondando apenas os cantos superiores */
    box-sizing: border-box;
    margin-bottom: 0; /* Remover o espaço extra */
}

.pesquisa {
    margin-top: 3%;
    align-items: center;
}

/* Botões da Sidebar */
.categorias button {
    margin-top: 2%;
    background-color: #b09bd9; /* Cor roxa igual aos outros botões */
    color: #fff;
    padding: 10px 14px;
    border-radius: 9px;
    border: none;
    font-family: "Roboto"; /* Fonte igual ao restante do conteúdo */
    margin-bottom: 6px;
    width: 100%; /* Para ajustar ao tamanho da sidebar */
    cursor: pointer;
}

.categorias button a {
    font-family: "Roboto mono";
    color: #fdfdff;
    text-decoration: none;
    font-weight: bold;
}

.categorias button:hover {
    word-spacing: 33px;
    background-color: #020201; /* Cor ao passar o mouse */
    color: #fff;
}

/* Conteúdo principal */
.content {
    width: 75%;
}

.content h2 {
    padding-left: 5%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.article1, .article2 {
    background-color: rgba(195, 179, 241, 0.1); /* Box claro e quase transparente */
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 40px; /* Espaçamento entre os posts */
}

ul {
    list-style: none; /* Remove o diabo da bolinha */
    padding: 0 auto;
    margin: 0;
}


.slider img {
    width: 100%;
    border-radius: 12px;
    display: none;
}

.slider img:first-child {
    display: block;
}

.slidepost2 {
    border-radius: 12px;
}

/* Botões do slider */
#prev-slide, #next-slide {
    background-color: #c3b3f1;
    color: #0B1009;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#prev-slide:hover, #next-slide:hover {
    background-color: #b09bd9;
}

.read-more {
    background-color: #c3b3f1;
    color: #0B1009;
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

footer {
    background: rgba(195, 179, 241, 0.548);
    text-align: center;
    text-shadow: #0B1009;
    padding: 1rem;
    color: #000000;
    margin-bottom: 3%
}
